# Database
MONGODB_URL=
DATABASE_NAME=

# JWT
JWT_SECRET=
JWT_ALGORITHM=HS256
ISSUER=
ACCESS_TOKEN_EXP_MINUTES=5
REFRESH_TOKEN_EXP_DAYS=30

# Set to "production" or "development"
ENVIRONMENT=development

# Server URLs
PROD_SERVER_URL=
DEV_SERVER_URL=
LOCAL_SERVER_URL=http://localhost:8000
