name: Test AWS Deployment

on:
  push:
    branches:
      - main
      - aws-testing
    paths-ignore:
      - "*.md"
  pull_request:
    branches:
      - main
      - aws-testing
    paths-ignore:
      - "*.md"

env:
  TERRAFORM_WORKING_DIRECTORY: terraform

jobs:
    # test:
    #     runs-on: ubuntu-latest
    #     steps:
    #     - uses: actions/checkout@v4

    #     - uses: actions/setup-python@v5
    #       with:
    #         python-version: "3.11"

    #     - uses: astral-sh/setup-uv@v6
    #       with:
    #         enable-cache: true

    #     - run: uv sync --locked --all-extras --dev
    #     - run: uv run ruff check app tests
    #     - run: uv run pytest tests

    build:
        #needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            # Install Python & UV to generate requirements.txt
            - uses: actions/setup-python@v5 
              with:
                python-version: "3.11"
            
            - name: Install UV
              run: pip install uv

            - name: Sync dependencies (from uv.lock)
              run: uv sync --locked --all-extras

            - name: Export production requirements.txt
              run: uv export --format requirements-txt --no-dev -o requirements.txt

            - name: Build Lambda deployment package
              run: |
                docker run --rm \
                -v "${{ github.workspace }}:/var/task" \
                --entrypoint /bin/bash \
                public.ecr.aws/lambda/python:3.11 <<'EOF'
                set -e

                mkdir -p /var/task/lambda_package
                pip install -r /var/task/requirements.txt -t /var/task/lambda_package
                cp -r /var/task/app /var/task/lambda_package/
                cd /var/task/lambda_package
                python3 -m zipfile -c /var/task/deployment.zip .
                EOF

            


            # - uses: actions/upload-artifact@v4
            #   with:
            #     name: lambda-zip
            #     path: deployment.zip

    # terraform:
    #     needs: build
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v4

    #         - uses: aws-actions/configure-aws-credentials@v4
    #           with:
    #             role-to-assume: arn:aws:iam::905418129504:role/github-deploy
    #             aws-region: eu-west-1

    #         - name: Setup Terraform
    #           uses: hashicorp/setup-terraform@v3
    #           with:
    #             terraform_version: 1.14.3
    #             terraform_wrapper: false

    #         - run: terraform init
    #           working-directory: ${{ env.TERRAFORM_WORKING_DIRECTORY }}

    #         - name: Terraform Validate
    #           # ensures that terraform validate runs regardless of the success or failure of the previous step
    #           if: success() || failure()
    #           run: terraform validate
    #           working-directory: ${{ env.TERRAFORM_WORKING_DIRECTORY }}

    #         - name: Terraform Plan and Apply
    #           run: |
    #             terraform plan -out=tfplan.out
    #             terraform apply tfplan.out
    #           working-directory: ${{ env.TERRAFORM_WORKING_DIRECTORY }}

    # deploy:
    #     needs: [build, terraform]
    #     runs-on: ubuntu-latest
    #     steps:
    #      - uses: actions/download-artifact@v4
    #        with:
    #         name: lambda-zip

    #      - uses: aws-actions/configure-aws-credentials@v4
    #        with:
    #         role-to-assume: arn:aws:iam::905418129504:role/github-deploy
    #         aws-region: eu-west-1

    #      - run: |
    #         aws lambda update-function-code \
    #             --function-name goatvault-api \
    #             --zip-file fileb://deployment.zip
