name: Test AWS Deployment

on:
  push:
    branches:
      - main
      - aws-testing
    paths-ignore:
      - "*.md"
  pull_request:
    branches:
      - main
      - aws-testing
    paths-ignore:
      - "*.md"
    
permissions:
    id-token: write
    contents: read

env:
  TERRAFORM_WORKING_DIRECTORY: terraform

jobs:
    # test:
    #     runs-on: ubuntu-latest
    #     steps:
    #     - uses: actions/checkout@v4

    #     - uses: actions/setup-python@v5
    #       with:
    #         python-version: "3.11"

    #     - uses: astral-sh/setup-uv@v6
    #       with:
    #         enable-cache: true

    #     - run: uv sync --locked --all-extras --dev
    #     - run: uv run ruff check app tests
    #     - run: uv run pytest tests

    build:
        #needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            # Install Python & UV to generate requirements.txt
            - uses: actions/setup-python@v5 
              with:
                python-version: "3.11"
            
            - uses: astral-sh/setup-uv@v6
              with:
                enable-cache: true

            - name: Export production requirements.txt
              run: |
                uv export \
                --format requirements-txt \
                --no-dev \
                -o requirements.txt

            - name: Create build directories
              run: mkdir -p build/package

            - name: Install dependencies into build/package
              run: |
                uv pip install \
                --system \
                --target build/package \
                --requirements requirements.txt

            - name: Copy application code
              run: cp -r app build/package/app

            - name: Create deployment zip
              run: |
                cd build/package
                zip -r ../../deployment.zip .

            - uses: actions/upload-artifact@v4
              with:
                name: lambda-zip
                path: deployment.zip

    terraform:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::905418129504:role/github-deploy
                aws-region: eu-west-1

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.14.3
                  terraform_wrapper: false

            - name: Terraform Init
              run: terraform init
              working-directory: ${{ env.TERRAFORM_WORKING_DIRECTORY }}

            - name: Terraform Validate
              run: terraform validate
              working-directory: ${{ env.TERRAFORM_WORKING_DIRECTORY }}

            - uses: actions/download-artifact@v4
              with:
                name: lambda-zip

            - name: Terraform Plan and Apply
              run: |
                HASH=$(openssl dgst -sha256 -binary lambda-zip | openssl base64)

                terraform plan \
                -var="lambda_s3_key=deployment.zip" \
                -var="lambda_source_code_hash=$HASH" \
                -out=tfplan.out

                terraform apply tfplan.out
              working-directory: ${{ env.TERRAFORM_WORKING_DIRECTORY }}
            
            - name: Export Terraform outputs
              id: tf_outputs
              run: |
                echo "LAMBDA_FUNCTION_NAME=$(terraform output -raw lambda_function_name)" >> $GITHUB_ENV
              working-directory: ${{ env.TERRAFORM_WORKING_DIRECTORY }}
